<div class="col-md-2">
  <ul class="nav nav-list nav-sidebar">
    <li class="nav-header">Mail</li>
    <li><%= link_to "Inbox", conversations_path %></li>
    <li><%= link_to "Sent Mail", '#' %></li>
    <li class="divider"></li>
    <li class="nav-header">Tags</li>
    <li><%= link_to "Tag example", '#' %></li>
  </ul>
</div>
