<div class="col-md-2">
  <ul class="nav nav-list nav-fixed-sidebar">
    <li class="nav-header">My Profile</li>
    <li class="active"><%= link_to "About me", user_path %></li>
    <li><%= link_to "My Settings", '#' %></li>
    <li><%= link_to "Email notifications", '#' %></li>
  </ul>
</div>
