<!-- if logged in -->
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target=".navbar-collapse"
                data-toggle="collapse" type="button"></button> 
    <a class="navbar-brand" href="./index.html">Research collaboration tool</a>
  </div>

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="register.html">Register</a></li>
      <li><a href="login.html">Login</a></li>
    </ul>
  </div><!-- /.nav-collapse -->
</div>
