<!-- if logged in -->
<div class="navbar navbar-default">
  <div class="navbar-header">
    <button class="navbar-toggle" data-target=".navbar-collapse"
                data-toggle="collapse" type="button"></button> 
    <%= link_to "Research collaboration tool", root_path, class: "navbar-brand" %>
  </div>

  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Register", registration_path %></li>
      <li><%= link_to "Login", '#' %></li>
    </ul>
  </div><!-- /.nav-collapse -->
</div>
<div class="container">
